.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    min-width: 330px;
    img {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        background-size: cover;
    }
    p {
        &:first-of-type {
            margin: 20px 0px;
        }
    }
    @media screen and (max-width: 1024px) {
        min-width: 242px;
    }
    @media screen and (max-width: 768px) {
        min-width: 304px;
    }
    @media screen and (max-width: 360px) {
        min-width: 288px;
    }
}