@import "../../styles/style.scss";
.people {
    color: $black;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom: 50px;
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 29px;
    }
    button {
        margin-top: 50px;
        width: 120px;
    }
}